altgraph==0.17.3
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
customtkinter==5.1.2
darkdetect==0.8.0
dlib==19.24.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==2.2.2
Flask-Cors==3.0.10
fpdf==1.7.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
numpy==1.24.1
opencv-python==4.7.0.72
pandas==1.5.3
pefile==2023.2.7
Pillow==9.4.0
pipreqs==0.4.11
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
python-dateutil==2.8.2
pytz==2022.7.1
pywin32-ctypes==0.2.0
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.26.13
Werkzeug==2.2.2
yarg==0.1.9
